# Environment files
app.env
*.env

tldbwriter.toml
sqlc.yaml
cmd/api/api
extra/vector/

# Build and dependency directories
/build/
/dist/
/tmp/

# Logs
/logs/
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
