DB_SOURCE=postgresql://username:password@localhost:5432/database?sslmode=disable
API_PORT=9001
GEOIP_PATH="db/geoip/"
CAMPAIGN_PATH="$GOPATH/src/github.com/lasseh/whynoipv6-campaign/"
IRC_TOKEN=""
HEALTHCHECK_CRAWLER=""
HEALTHCHECK_CAMPAIGN=""
NAMESERVER="nameserver 1.1.1.1"
