DB_SOURCE=postgresql://username:password@localhost:5432/database?sslmode=disable
API_PORT=9090
GEOIP_PATH="../../db/geoip/"
IRC_TOKEN=""
NAMESERVER="nameserver 1.1.1.1"
HEALTHCHECK_CRAWLER=""
HEALTHCHECK_CAMPAIGN=""
