[Unit]
Description=WhyNoIPv6: Import Campaigns
Requires=v6-campaign-import.service

[Timer]
OnBootSec=15min
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
