[Unit]
Description=pgBackRest daily differential backup
OnFailure=whynoipv6-notify@%n.service

[Service]
Type=oneshot
User=whynoipv6
EnvironmentFile=/etc/whynoipv6/env
ExecStart=/usr/bin/pgbackrest --stanza=whynoipv6 --type=diff backup
