[Unit]
Description=Run the WhynoIPv6 Crawler every monday
Requires=whynov6-crawler.service

[Timer]
#OnCalendar=weekly
OnCalendar=Mon 01:00
Persistent=true

[Install]
WantedBy=timers.target
