[Unit]
Description=WhynoIPv6: Campaign Import
After=network-online.target postgresql-16.service

[Service]
Type=simple
WorkingDirectory={{ project_path }}
Environment="CAMPAIGN_PATH={{ ansible_env.GOPATH | default(default_gopath) }}/src/github.com/lasseh/whynoipv6-campaign/"
ExecStart={{ bin_path }}/v6manage campaign import
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30
User={{ user }}
Group={{ group}}

[Install]
WantedBy=multi-user.target
