[Unit]
Description=WhynoIPv6: API
After=network-online.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/whynoipv6/whynoipv6
ExecStart=/opt/whynoipv6/go/bin/v6-api
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30
User=ipv6
Group=ipv6

[Install]
WantedBy=multi-user.target
