{{ define "footer" }}
<hr />
        <h2 id="resources">Resources for Going IPv6</h2>
        <p>
            If you're responsible for a website and aren't sure why IPv6 is important or would like resources to help make the transition,
            try these:
        </p>
        <ol>
            <li>
                <a href="https://www.internetsociety.org/deploy360/ipv6/training/">IPv6 Training</a>
            </li>
            <li>
                <a href="https://www.google.com/intl/en/ipv6/statistics.html#tab=ipv6-adoption">IPv6 adoption statistics</a>
            </li>
            <li>
                <a href="https://ready.chair6.net/">Is your site IPv6 ready?</a>
            </li>
            <li>
                <a href="http://www.worldipv6launch.org/">World IPv6 Launch</a>
            </li>
        </ol>
        
<footer>
    <p>Built by
        <a href="https://twitter.com/hasselaugen">Lasse Haugen</a> with data from
        <a href="https://crawler.ninja/">crawler.ninja</a>
    </p>
    <p>Hosted on Native IPv6 co-location from <a href="https://www.blix.com/">Blix Solutions</a> since 2008</p>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
</script>
 <!-- Icons -->
 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
 <script>
   feather.replace()
 </script>

{{ end }}
